<!DOCTYPE html>
<html>
<head>
    <title>Blackjack Game</title>
    <link rel="stylesheet" href="/css/game.css">
</head>
<body>
    <div class="container">
        @if (ViewBag.gameViewModel != null && ViewBag.gameViewModel.GameStarted)
        {
            <div class="dealer-and-player">
                <div class="dealer-section">
                    <div class="card-stack">
                        @if (ViewBag.gameViewModel.Dealer.Hand.Count > 0 && ViewBag.gameViewModel.EndGame)
                        {
                            <h2>Dealer's Hand:</h2>

                            @foreach (var card in ViewBag.gameViewModel.Dealer.Hand)
                            {
                                <div class="card">
                                    <img src="@card.ImgLocation" alt="@card" />
                                </div>
                            }
                            <strong>@ViewBag.gameViewModel.Dealer.CalculateHandValue()</strong>
                        }
                        else if (ViewBag.gameViewModel.Dealer.Hand.Count > 0)
                        {
                            <h2>Dealer's Hand:</h2>

                            <div class="card">
                                <img src="@ViewBag.gameViewModel.Dealer.Hand[0].ImgLocation" alt="@ViewBag.gameViewModel.Dealer.Hand[0]" />
                            </div>
                            <div class="card">
                                <img src="/img/deck/back.svg" alt="Card Back" />
                            </div>
                        }
                    </div>
                </div>

                <div class="player-section">
                    <div class="card-stack">
                        @if (ViewBag.gameViewModel.Gamer.Hand.Count > 0)
                        {
                            <h2>Your Hand:</h2>

                            @foreach (var card in ViewBag.gameViewModel.Gamer.Hand)
                            {
                                <div class="card">
                                    <img src="@card.ImgLocation" alt="@card" />
                                </div>
                            }
                            <strong>@ViewBag.gameViewModel.Gamer.CalculateHandValue()</strong>
                        }
                    </div>
                </div>
            </div>

            <div class="message">@ViewBag.message</div>

            @if (ViewBag.gameViewModel.EndGame)
            {
                <form asp-controller="Game" asp-action="Bet" class="bet-form">                   
                    <label for="bet">Bet</label>
                    <input type="number" required name="bet" value="@ViewBag.gameViewModel.Bet" max="@ViewBag.gameViewModel.Gamer.Balance" min="1" />
                    <button type="submit" class="btn btn-primary btn-full-width mb-1">Deal Cards</button>
                </form>
            }
            else
            {
                <div class="actions">
                    <form asp-controller="Game" asp-action="Hit" method="post">
                        <input type="hidden" name="target" value="Gamer" />
                        <button type="submit" class="btn btn-primary">Hit</button>
                    </form>

                    <form asp-controller="Game" asp-action="DetermineWinner">
                        <button type="submit" class="btn btn-primary mx-2">Stay</button>
                    </form>

                    <form asp-controller="Game" asp-action="Double">
                        <button type="submit" class="btn btn-primary">Double</button>
                    </form>
                </div>
                <div>Bet: @ViewBag.gameViewModel.Bet</div>
            }
            <div>Balance: @ViewBag.gameViewModel.Gamer.Balance</div>
            <button id="exit" class="btn btn-primary btn-full-width">Exit</button>

        }
    else
    {
        <h1>Welcome to Blackjack</h1>
        <form asp-controller="Game" asp-action="StartGame" class="start-form">
            <label for="balance">Balance</label>
            <input type="number" required name="balance" min="1" />
            <button type="submit" class="btn btn-primary btn-full-width">Start</button>
        </form>
    }
</div>
    <script>
        document.getElementById("exit").addEventListener("click", function () {
            window.location.href = "@Url.Action("Index", "Game")";
        });
    </script>
</body>
</html>
