<!DOCTYPE html>
<html>
<head>
    <title>Blackjack Game</title>
</head>
<body>
    <h1>Welcome to Blackjack</h1>

  
    @if (ViewBag.gameViewModel != null && ViewBag.gameViewModel.GameStarted)
    {
        
        <h2>Dealer's Hand:</h2>
        <ul>
            @if (ViewBag.gameViewModel.Dealer.Hand.Count > 0 && ViewBag.gameViewModel.EndGame)
            {
                @foreach (var card in ViewBag.gameViewModel.Dealer.Hand)
                {
                    <li>@card</li>
                }
                <strong>@ViewBag.gameViewModel.Dealer.CalculateHandValue()</strong>

            }
            else if (ViewBag.gameViewModel.Dealer.Hand.Count > 0)
            {
               <li> @ViewBag.gameViewModel.Dealer.Hand[0];</li>
            }
        </ul>

        <h2>Your Hand:</h2>
        <ul>
            @if (ViewBag.gameViewModel.Gamer.Hand.Count > 0)
            {
                @foreach (var card in ViewBag.gameViewModel.Gamer.Hand)
                {
                    <li>@card</li>
                }
                <strong>@ViewBag.gameViewModel.Gamer.CalculateHandValue()</strong>
            }

        </ul>

        <div>@ViewBag.message</div>
        @if (ViewBag.gameViewModel.EndGame)
        {
            <form asp-controller="Game" asp-action="DealCards">
                <button type="submit" class="btn btn-primary">Deal Cards</button>
            </form>
        }
        else
        {
            <div class="d-flex justify-content-start">
                <form asp-controller="Game" asp-action="Hit" method="post" style="margin-right: 10px;">
                    <input type="hidden" name="target" value="Gamer" />
                    <button type="submit" class="btn btn-primary">Hit</button>
                </form>

                <form asp-controller="Game" asp-action="DetermineWinner">
                    <button type="submit" class="btn btn-primary">Stay</button>
                </form>
            </div>
        }

        <p>Deck Count: @ViewBag.gameViewModel.Deck.Count</p>
    }
    else
    {
        <form asp-controller="Game" asp-action="StartGame">
            <button type="submit" class="btn btn-primary">Start</button>
        </form>
    }
  
</body>

</html>
